* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */

@font-face {
	font-family: "Main";
	src: url(/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
	font-family: "Main";
	src: url(/fonts/SourceSansPro-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: "Code";
	src: url(/fonts/SourceCodePro-Regular.ttf);
}

body {
    background: #fff;
    color: #000;
    font-family: "Main";
    /* text-align: center; */
    font-size: 16px;
	-webkit-text-size-adjust: 100%;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 40px 0 40px;
    text-align: left;
}

.page {
	font-size: 1.05em;
	text-align: left;
}

header {
	position: relative;
    background: linear-gradient(to bottom right, #2e4571, #091936);
/*	background: linear-gradient(to bottom right, #4e8cff, #0730b6);*/
	color: #fff;
	line-height: 1.5em;
	padding: 0 20px;
}

header .wrapper {
    padding: 25px 0 20px 0;
    text-align: center;
}

header a {
	display: inline-block;
}

header p a {
	text-decoration: none;
}

header .site-name {
    font-size: 2.5em;
    color: #fff;
    font-weight: bold;
}

header .logo {
	width: 500px;
	max-width: 80%;
	margin-bottom: 6px;
}

header nav {
	display: inline-block;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 18px;
    overflow: hidden;
    
}

header nav li {
	display: inline-block;
}

header nav a {
	display: block;
    color: #091936;
/*	color: #0730b6;*/
	padding: 0 10px;
    line-height: 30px;
    text-decoration: none;
}

header nav a:hover,
header nav li.selected a {
	color: #fff;
    background-color: #091936;
/*	background-color: #0730b6;*/
}

header nav .search a {
	background-image: url(/images/search.svg);
	background-repeat: no-repeat;
	background-size: 65% 65%;
	background-position: center center;
	width: 34px;
	color: transparent !important;
	user-select: none;
}

header nav .search a:hover,
header nav .search.selected a,
.search .search-box input[type="submit"] {
	background-image: url('data:image/svg+xml,%3Csvg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Crect fill="%23FFF" transform="rotate(-45 9 29.5)" x="-1" y="27" width="20" height="5" rx="2.5"/%3E%3Ccircle stroke="%23FFF" stroke-width="5" cx="23" cy="15" r="12"/%3E%3C/g%3E%3C/svg%3E');
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

h3 {
    margin: 5px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

.description {
    margin-bottom: 0px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.item-list .metadata {
	margin: 0;
}

.item-list .metadata.date-only {
	margin-bottom: 10px;
}

.item-list .date {
    color: #b8b8b8;
}

.tag-list {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 5px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #ddd;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

/* Content */

.content {
    margin-bottom: 40px;
}

content a,
.content a code {
	text-decoration: underline;
}

.content h2 a,
.content h2 a code {
	text-decoration: none;
}

.content ul {
	list-style-type: disc;
	margin-top: 10px;
	padding-left: 20px;
}

.content>ul {
	font-size: 1.05em;
	line-height: 1.5em;
}

.content ul li {
  margin-bottom: 10px;
  width: 100%;
}

.content ul ul {
	margin-top: 0;
}

.content ul.compact li {
	margin-top: 5px;
}

.content .profile-picture {
    width: 25%; 
    max-width: 180px; 
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.content .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content figure {
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    font-style: italic;
    font-size: smaller;
}

.content figcaption {
    text-align: center;
}

.content .date {
	color: #555;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.content img {
	display: block;
	max-width: 100%;
	margin: 20px auto 0 auto;
}

.content img.compact {
	display: inline-block;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

footer {
    color: #8a8a8a;
    margin-top: 20px;
    text-align: center;
}

footer div {
    margin-bottom: 10px;
}

footer div a {
    margin-right: 7px;
    text-decoration: none;
}

pre {
	margin-top: 20px;
}

pre code {
	display: block;
	background-color: #1a1a1a;
	padding: 15px 20px;
	border-radius: 12px;
	color: #a9bcbc;
	line-height: 1.4em;
	font-size: 0.95em;
	overflow-x: auto;
	white-space: pre;
	-webkit-overflow-scrolling: touch;
}

/* Highlight.js Theme */
/*
  IR_Black style (c) Vasily Mikhailitchenko <vaskas@programica.ru>
*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #000;
    color: #f8f8f8;
  }
  
  .hljs-comment,
  .hljs-quote,
  .hljs-meta {
    color: #7c7c7c;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-tag,
  .hljs-name {
    color: #96cbfe;
  }
  
  .hljs-attribute,
  .hljs-selector-id {
    color: #ffffb6;
  }
  
  .hljs-string,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition {
    color: #a8ff60;
  }
  
  .hljs-subst {
    color: #daefa3;
  }
  
  .hljs-regexp,
  .hljs-link {
    color: #e9c062;
  }
  
  .hljs-title,
  .hljs-section,
  .hljs-type,
  .hljs-doctag {
    color: #ffffb6;
  }
  
  .hljs-symbol,
  .hljs-bullet,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-literal {
    color: #c6c5fe;
  }
  
  .hljs-number,
  .hljs-deletion {
    color:#ff73fd;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }

/* Articles */

article h1 {
	font-size: 2.5em;
	margin-bottom: 15px;
	line-height: 1.2em;
	max-width: 95%;
}

article h1.smaller {
	font-size: 2.3em;
}

article h2 {
	font-size: 1.5em;
	margin: 25px 0 20px 0;
}

article h3 {
	font-size: 1.2em;
	margin-top: 20px;
}

article h4 {
    font-size: 1.0em;
    margin-top: 20px;
}

article .metadata {
	margin-bottom: 23px;
}

article .date {
	color: #555;
}

article p {
	margin-top: 20px;
	font-size: 1.05em;
	line-height: 1.5;
}

article .recommendation {
	display: inline-block;
	border-radius: 7px;
	color: #fff;
	padding: 7px 7px 7px 33px;
	font-size: 0.9em;
}

article p code,
article li code {
	background-color: #e2e2e2;
	display: inline-block;
	padding: 0 5px;
	border-radius: 8px;
	font-size: 0.9em;
	margin: 1px;
}

article p code.inline,
article li code.inline {
	display: inline;
	background-color: inherit;
	padding: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }

    body,
    header .site-name {
        color: #fff;
    }

    article .date {
        color: #8a8a8a;
    }

    article p code,
	article li code {
		background-color: #171717;
	}
	article p.info,
	blockquote p {
		background-color: #101010;
	}

    .item-list .date {
		color: #7d7d7d;
	}

    .item-list > li {
        background-color: #333;
    }

    header {
        background-color: #000;
    }
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}
