

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #222;
    font-family: Helvetica, Arial;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 64em;
}


.wrapper {
    padding: 40px;
    text-align: left;
}

header .header-layout {
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline-block;
}


header li {
    display: inline-block;
}

header ul {
    list-style: none;
    margin-top: auto;
}

header a {
    text-decoration: none;
    padding: 10px;
}

header .header-title {
    visibility: visible;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
}

header .header-section {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 20px;
    
}

@media(min-width: 26em) {
    header {
        padding: 15px;
    }
    
    header .header-layout {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    header .header-section {
        display: flex;
        margin: 5px;
        padding-top: 0px;
        padding-bottom: 2px;
    }
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 20px;
}

.article-header {
    margin-bottom: 30px;
    line-height: 1.4;
}

.article-header h1 {
    margin-bottom: 0px;
    font-size: 2.2em;
}

.article-header i {
/*    margin-bottom: 0px;*/
    font-size: 0.9em;
    background-color: #eee;
/*    color: #555;*/
    display: inline;
    padding: 5px 10px;
    border-radius: 8px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 0px;
    font-size: 1.5em;
    
}

.item-list a {
    text-decoration: none;
}

.item-list p {
    margin-bottom: 5px;
    font-size: 1.2em;
    line-height: 1.4;
}

.tag-list {
    margin: 10px 0;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    padding: 20px;
    text-align: left;
    min-height: 100%;
    line-height: 1.6;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

.footer {
    color: #8a8a8a;
    margin-top: 30px;
    padding: 30px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }

    body,
    header .site-name {
        color: #ddd;
    }

    .item-list > li {
        background-color: #333;
    }

    header {
        background-color: #000;
    }
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: capitalize;
}
.brand-tagline {
    font-weight: 300;
    
}

.sidebar {
    padding: 20px;
}

.sidebar .author-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar .author-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #bfbfbf;
    margin: 5px;
}

.fa {
    padding: 5px;
    font-size: 27px;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}




@media(min-width: 64em) {
    .sidebar {
        padding-left: 5px;
        padding-right: 10px;
        border-right: 1px solid #eee;
    }
    
    .content {
        padding: 25px;
    }
    
    header {
        margin-bottom: 15px;
    }
    
    .sidebar .author-avatar {
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .sidebar .author-avatar img {
        width: 125px;
        height: 125px;
        padding: 5px;
        border: 1px solid #bfbfbf;
        margin: 5px;
    }
    
}


code {
    background-color: #eee;
    border-radius: 8px;
    padding: 2px 4px;
}

pre {
    margin-bottom: 1.5em;
    background-color: rgba(34, 37, 41, 1);
    padding: 16px 0;
    border-radius: 8px;
}

pre code {
    font-family: monospace;
    display: block;
    padding: 0 20px;
    color:  rgba(215, 215, 215, 1);
    background-color: rgba(34, 37, 41, 1);
    line-height: 1.4em;
    font-size: 1em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

pre code .keyword {
    color: rgba(252, 95, 193, 1);
}

pre code .type {
    color: rgba(158, 241, 221, 1);
}

pre code .call {
    color: rgba(158, 241, 221, 1);
}

pre code .property {
    color: #21ab9d;
}

pre code .number {
    color: rgba(200, 184, 106, 1);
}

pre code .string {
    color: rgba(250, 106, 102, 1);
}

pre code .comment {
    color: #6b8a94;
}

pre code .dotAccess {
    color: rgba(158, 241, 221, 1);
}

pre code .preprocessing {
    color: #b68a00;
}

